body{
background-color: #dddfd5;

  }
  header{
    margin-left: 10px;
    width: 950px;
    height: 60px;
    background-color: #37b0ac;
    padding: 5px;
  }
  header img{
    width: 50px;
    height: 50px;
  }
  header h1{
    vertical-align: top;
    margin-top: 11px;
    display: inline-block;
  }
header ul{
  margin-left: 200px;
  padding: 0px;
  margin-top:18px;
  vertical-align: top;
  display: inline-block;

}
header li{
  text-decoration: underline;
  margin-left: 10px;
  display: inline-block;
  font-size: 16px;
  color: white;
}
/*<!-- yellow background section and divs -->*/
/*<!-- yellow background section and divs -->*/

section{
  background-color: #fbe59c;
  margin:10px;
  padding:15px;
  width: 930px;
  height:520px;
}
 .left_div{
   padding:10px;
   display: inline-block;
   width: 200px;
   color:white;
   height: 500px;
   background-color: #144043;
 }
 .left_div h2{
   margin-top:0px;
   margin-bottom: 14px;

 }
 .left_div p{
   margin-bottom: 25px;
   padding: 1px;
   font-weight: lighter;
   font-family: monospace;
   font-size: 12px;
   width: 203px;
   height: 183px;
 }

 /* Main div explaing context of git and github*/
 /**/ /**//**//**//**//**/
.main_content{
  vertical-align: top;
  display: inline-block;
  padding: 0;
  margin:0;
  width: 700px;
  height: 520px;
  background-color: #fbe59c;
}
.color1{
  color:#40bbaf;
}
.box1{

color: white;
 width: 200px;
 height: 150px;
 background-color: #144043;
 display: inline-block;
 vertical-align: top;
 margin-left: 25px;
 padding: 2px;
}
.box1 h3{
  margin-top: 0px;
  margin-bottom: 10px;
  margin-left: 5px;
.
}
.box1 p{
  margin: 0px;
width: 145px;
margin-left: 10px;
font-weight: lighter;
    font-family: monospace;
    font-size: 12px;
}
.box2{
width: 313px;
color:white;
height: 150px;
margin-top: 30px;
margin-left: 25px;
background-color: #144043;
display: inline-block;
padding:2px;
}
.box2 h3{
  padding: 2px;
  margin-top: 0px;
  margin-bottom: 10px;
  margin-left: 5px;

}
.box2 p{
  font-weight: lighter;
    font-family: monospace;
    font-size: 12px;
  margin-left: 10px;
}

.box3{
margin-top: 20px;
width: 660px;
height: 152px;
margin-top: 30px;
margin-left: 25px;
background-color: #144043;
color:white;
display: inline-block;
}
.box3 h3{
  margin-top: 0px;
  margin-bottom: 10px;
  margin-left: 5px;
}
.box3 p{
  font-weight: lighter;
    font-family: monospace;
    font-size: 12px;
  margin-left: 10px;
}

footer{
  text-align: center;
  padding: 10px;
  width: 940px;
 height: 50px;
 margin-left: 10px;
  background-color: #37b0ac;
}
footer p{
  font-family: monospace;
}
.git-purple{
  text-decoration: underline;
  color: #551d88;
}
